/**
 * @file
 * Local CSS - rename this to local.css, check the
 * box in theme settings and add your own styles here.
 */
.admin-menu #navbar-administration { display: none; }

blockquote {
  display: inline-block;
}

/*
 * RSS feed link in menu. Always assumed to be the last menu item.
 */
nav#main-menu ul.menu li:last-child {
  float: right;
  position: relative;
  margin-right: -20px;
}
nav#main-menu ul.menu li:last-child a {
  padding-right: 42px;
  background: transparent url(../bamboo/images/rss.png) no-repeat center right;
}
nav#main-menu ul.menu li:last-child a:hover {
  background-color: #777;
}
