

/**
 * @file
 * Local CSS - rename this to local.css, check the
 * box in theme settings and add your own styles here.
 */
.admin-menu #navbar-administration { display: none; }

blockquote {
    display: inline-block;
}

/*
 * RSS feed link in menu. Always assumed to be the last menu item.
 */
nav#main-menu ul.menu li:last-child {
    float: right;
    position: relative;
    margin-right: -20px;
}
nav#main-menu ul.menu li:last-child a {
    padding-right: 42px;
    background: transparent url(../images/rss.png) no-repeat center right;
}
nav#main-menu ul.menu li:last-child a:hover {
    background-color: #777;
}

/*
 * Rating widget
 */
.rate-label {
  font-size: .9em;
  line-height: 2em;
  float: left;
  margin-right: 5px;
}

/*
 * Slick slideshow
 */
.field-name-field-slideshow.field-type-image img {
  /* Override Bamboo default settings. */
  border: none;
  margin-bottom: 0;
  padding: 0;
}
.field-name-field-slideshow .slick-prev, .field-name-field-slideshow .slick-next {
  top: 150px;
  height: 60px;
  width: 32px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 0;
  background-image: none;
  /* linear-gradient(to top, white 0%, #7e8e34 100%) */
}
.field-name-field-slideshow .slick-prev {
  left: 0;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}
.field-name-field-slideshow .slick-next {
  right: -10px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
}
